@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: #F4F6F9;
}

header{
   width: 100%;
   padding: 15px 75%;
   background-color: #1E88E5;
}

.fundo{
    background-color: #FFFFFF;
    padding: 50px 10%;
    border-radius: 12px;
    display: flex;
    gap: 20px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.arq{
    display: none;
}
#tabela_xml {
    width: 100%;
    table-layout: auto;
    border-collapse: separate; 
    border-spacing: 0 10px; 
    padding: 0 30px;
}

tr {
    /* O background no TR funciona quando o collapse é separate */
    background-color: rgb(224, 237, 255);
    box-shadow: 0px 5px 2px 0px rgba(0,0,0,0.1)
}

th, td {
    padding: 14px 5px;
    font-size: 13px;
    text-align: center;
    white-space: nowrap; 
}

th {
    background-color: transparent;
    font-weight: 600;
    color: #555;
}

td:nth-child(2),th:nth-child(2) {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

td:last-child,th:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

#title_xml{
    color: #333333;
}

#importar_xml{
    padding: 10px 40px;
    border-radius: 8px;
    border-color: transparent;
    background-color: #1E88E5;
    font-size: 20px;
    color: #FFFFFF;
    transition: all 0.4s ease;
    align-items: center;
}

#importar_xml:hover{
    transform: translateY(-5px);
    background-color: #1565C0;
}

#importar{
    padding: 80px 35%;
    background-color: #E3F2FD;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_item a{
    text-decoration: none;
    font-weight: 600;
    color: #FFFFFF;
}

.nav_item:active a{
    color: #E3F2FD;
    border-bottom: 4px solid #FFFFFF;
}

#nav_list{
    display: flex;
    list-style: none;
    gap: 4vw;
}
